<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
	<ul class="nav nav-pills">
		<li class="nav-item"><a class="nav-link " th:href="@{/}"> <i
				class="oi oi-home"></i> <span th:text="#{sidebar.link.home}"></span>
		</a></li>
	</ul>

	<ul class="nav nav-pills">
		<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.aluno}">Alunos</span></li>
		<li class="nav-item"><a class="nav-link"
								th:href="@{/alunos/cadastrar}"> <i class="oi oi-plus"></i>
			<span th:text="#{sidebar.link.cadastrar}">Cadastrar </span>
		</a></li>
		<li class="nav-item"><a class="nav-link"
								th:href="@{/alunos/listar}"> <i class="oi oi-spreadsheet"></i>
			<span th:text="#{sidebar.link.listar}">Listar </span>
		</a></li>
	</ul>

	<ul class="nav nav-pills">
		<li class="nav-item"><span class="nav-link active">Relatórios</span></li>
		<li class="nav-item"><a class="nav-link"
								th:href="@{/relatorios/socioeconomico}"> <i class="oi oi-document"></i>
			<span >Relatório Geral </span>
		</a></li>
	</ul>
</nav>
</body>
</html>